[submodule "iOS"]
	path = iOS
	url = https://github.com/talsec/Free-RASP-iOS.git
	branch = master
[submodule "Android"]
	path = Android
	url = https://github.com/talsec/Free-RASP-Android.git
	branch = master
