[submodule "iOS"]
	path = iOS
	url = https://github.com/talsec/Free-RASP-iOS.git
	branch = master
[submodule "Android"]
	path = Android
	url = https://github.com/talsec/Free-RASP-Android.git
	branch = master
[submodule "Flutter"]
	path = Flutter
	url = https://github.com/talsec/Free-RASP-Flutter
	branch = master
[submodule "Cordova"]
	path = Cordova
	url = https://github.com/talsec/Free-RASP-Cordova.git
	branch = master
[submodule "React Native"]
	path = React Native
	url = https://github.com/talsec/Free-RASP-ReactNative.git
        branch = master
[submodule "Capacitor"]
	path = Capacitor
	url = git@github.com:talsec/Free-RASP-Capacitor.git
